*{
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: white;
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}