.list {
    width: 100%;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    .listTitle {
      color: white;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  
    .wrapper {
      position: relative;
      .container {
        margin-left: 50px;
        display: flex;
        margin-top: 10px;
        width: max-content;
        transform: translateX(0px);
        transition: all 1s ease;
      }
    }
  }