.footer{
    color: white;

    .buttonCustom{
        background-color: black;
        color: white !important;
        border: 1px solid white;
        width: 70%;
        border-radius: 0;
    }
}
